.detail-view-main {
  background: #f6f6f6;
  height: auto;
  padding-bottom: 60px;
}

.user-info-title {
  margin-left: 50px !important;
  margin-block: 15px !important;
  font-weight: bold !important;
}

.details-main {
  margin-left: 50px;
  margin-right: 40px;
  background-color: #ffffff;
  border-radius: 7px;
  display: flex;
  padding-block: 33px;
}

@media only screen and (max-width: 974px) {
  .details-main {
    margin-left: 20px;
    margin-right: 20px;
  }

  .user-info-title {
    margin-left: 20px !important;
  }
}
