.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 25px;
  border-bottom: 2px solid #f1f0f2;
  background-color: #ffffff;
  min-height: 60px;
}

.menu {
  display: flex;
  gap: 20px;
  color: #6f7179;
  align-items: baseline;
}

.menu-item:hover {
  color: #143e84;
  cursor: default;
}

.active {
  border-style: solid;
  padding: 5px;
  border-radius: 5px;
  background-color: #f6f8ff;
  color: #143e84;
  border-color: #d2dbea;
}

.account {
  margin-top: 20px;
  display: flex;
  color: #6f7179;
}

.account-icon {
  font-size: 32px !important;
}
