.home-main {
  display: flex;
  flex-direction: column;
}

.title-bar {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-inline: 30px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.menu-item {
  font-size: 14px !important;
  font-weight: bold;
}

.home-user-title {
  font-size: 31px !important;
  font-weight: bold;
  margin: 0px;
}

.add-user-btn {
  background-color: #2572ba !important;
  text-transform: none;
  border-radius: 7px !important;
}

.search-box {
  background-color: #fafcff;
  padding-block: 10px;
  padding-inline: 30px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.search-bar {
  width: 70%;
  background-color: #fff;
  color: #6f7179;
}

.user-box {
  padding-block: 10px;
  padding-inline: 30px;
  display: flex;
  flex-direction: column;
}


@media only screen and (max-width: 795px) {
  .search-bar {
    width: 100% ;
  }
}